.card {
    height: 300px;
    width: 300px;
    border: 1px solid black;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
}

html {
    /* overflow: hidden */
}